


.formulaire-inscription{

  width: 500px;

  margin: auto;

  fieldset{
    border:0;

    legend{
      display: none;
    }

    ol{
      list-style: none;
      padding: 0;
    }

    li{


      display: flex;
      justify-content: space-between;
      flex-direction: column;

      margin-bottom: 20px;
    }



    button[type="submit"]{
      border: 1px solid $gray-700;
      background-color: $gray-300;

    }

  }

}


@media screen and (min-width: $vw-large){
  .formulaire-inscription{

    fieldset{


      ol{


      }

      li{
        flex-direction: row;

        label{
          min-width: 150px;
        }

        input{
          min-width: 300px;
        }
      }

    }



  }
}