
.header-page{
  background-color: $color-bg-dark;
  padding: 0 10px;

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul{
    list-style: none;
    padding: 0;
    width: 100%;

    text-align: center;
  }

  a{
    display: block;
    padding: 10px;
  }

  li:hover{
    background-color: lighten($color-bg-dark, 25%);
  }





}